PORT=
RESTATE_RUNTIME_URL=
#RESTATE_RUNTIME_URL=
#RESTATE_AUTH_TOKEN=
PUBLIC_RESTATE_ENDPOINT=

REDIS_URL=redis://localhost:6379
EMAIL_QUEUE_NAME=appointment-email
EMAIL_WORKER_CONCURRENCY=10
EMAIL_RATE_MAX=50
EMAIL_RATE_DURATION_MS=1000
EMAIL_JOB_ATTEMPTS=3
EMAIL_JOB_BACKOFF_MS=2000
QUEUE_DASHBOARD_PATH=/admin/queues

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=
